$hover-color: #e71c37;
$bg-gray: #eee;
$bannerbg: #000;

$desk: 40px;
$tab:  40px;
$mob:  30px;
 
$light-gray:  rgba(243, 244, 244, 1);
$medium-gray: rgba(179, 185, 186, 1);
$dark-gray:   rgba(179, 185, 186, 1);
$darkest-gray: #7C7F80;

$bg-gray: $light-gray;

$header-height: 67px;
$header-type-size: 18/16*1em;

$large-text:  36/16*1em;
$medium-text: 20/16*1em;
$small-text:  16/16*1em;

$large-text-tablet:  36/16*1em;
$medium-text-tablet: 18/16*1em;
$small-text-tablet:  16/16*1em;

$large-text-mobile:  34/16*1em;
$medium-text-mobile: 16/16*1em;
$small-text-mobile:  15/16*1em;

$rotisSemiSansExtraBold: 'RotisSemiSansW01-ExtraB';
$rotisSemiSansBold:      'Rotis SemiSans W01 Bold';
$rotisSemiSansRoman:     'Rotis SemiSans W01';
$rotisSemiSansItalic:    'RotisSemiSansW01-Italic';
$rotisSemiSansLight:     'RotisSemiSansW01-Light';

$homepage-text: 28/16*1em;

$small:  "small";
$medium: "medium";
$large:  "large";