
.icon-menu:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-prev:before { content: '\e806'; } /* '' */
.icon-next:before { content: '\e807'; } /* '' */
.icon-next-1:before { content: '\e808'; } /* '' */
.icon-previous:before { content: '\e809'; } /* '' */
.icon-arrow_up:before { content: '\e80a'; } /* '' */
.icon-arrow_up_right:before { content: '\e80b'; } /* '' */
.icon-arrow_up_left:before { content: '\e80c'; } /* '' */
.icon-arrow_right:before { content: '\e80d'; } /* '' */
.icon-arrow_left:before { content: '\e80e'; } /* '' */
.icon-arrow_down:before { content: '\e80f'; } /* '' */
.icon-arrow_down_right:before { content: '\e810'; } /* '' */
.icon-arrow_down_left:before { content: '\e811'; } /* '' */
.icon-down:before { content: '\e812'; } /* '' */
.icon-up:before { content: '\e813'; } /* '' */
.icon-circle_arrow_left:before { content: '\e814'; } /* '' */
.icon-circle_arrow_up:before { content: '\e815'; } /* '' */
.icon-circle_arrow_right:before { content: '\e816'; } /* '' */
.icon-circle_arrow_down:before { content: '\e817'; } /* '' */